body{
    margin: 0%;
    font-family: 'Kumbh Sans', sans-serif;
}
.caja1{
    background-image: url(../img/1.jpg);
    background-size: cover;
    height: 600px;
    margin: 10px;
}
.caja1_icon{
    display: flex;
    justify-content: flex-end; 
    padding: 20px;
}
.caja1_desc{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transform: translateY(30%);
    font-size: 30px;
    color: red;
    
}

.caja1 h4{
    border: 3px solid black;
    width: 25px;
}

.caja2{
    background-color: rgb(170, 169, 169);
    text-align: center;
    padding-bottom: 5px;
    padding-top:20px ;
}
.caja2 h4{
    border: 4px solid black;
    width: 30px;
}
.caja2_article{
    
    margin: 10px;
    display: grid;
    height: 600px;
    grid-template-rows: 50% 50%;
    box-shadow: 3px 3px 15px gray;
}
.caja2_img img{
    background-size: cover;
    margin: 0px;
    height: 100%;
    width: 100%;  
}
.caja2_p{
    background: white;
    display: grid;
    align-content: center;
}
.caja2_p h4{
    border: 3px solid black;
    width: 30px;
    
}

.caja_about{
    text-align: center;
}
.caja_about_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.caja_about_p p{
    text-align: justify;
    padding: 10px;
}
.linea h4{
    border: 3px solid black;
    width: 30px;
}

.caja_suscribe{
    background-color: rgb(170, 169, 169);
    text-align: center;
    display: grid; 
    padding-top: 50px;
    padding-bottom: 50px;
    justify-items: center;
}
.caja_suscribe h1{
    margin-bottom: 0%;
}
.caja_suscribe input{
    margin: 10px;
    padding: 20px;
    border: 2px solid white;
    background: rgb(209, 206, 206);
    box-sizing: border-box;
    width: 90%;
}
.caja_suscribe button{
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    size: 15px;
    width: 90%;
}

.caja_final{
    text-align: center;
    padding-top:50px ;
    padding-bottom: 50px;

}
.caja_final_icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.caja_final_icons i{
    color: white;
    background: rgb(68, 68, 68);
    margin-right: 12px;
    width: 16px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}


.caja_personal{
    margin-top: 50px;
    padding: 28px;
    box-shadow: 3px 3px 10px gray;
    border-radius: 5px;
    
}
.contact{
    display: flex;
    align-items: center;
}
.contact img{
    height: 120px;
    border-radius: 60px;
    margin-right: 16px;
}
.info{
    display: flex;
    flex-direction: column;
}
.info p{
    font-weight: bold;
}
.cargo{
    color: gray;
    font-weight: 400;
    font-size: 12px;
}



@media screen and (min-width:768px){

    .caja2{
        padding-top: 100px;
        padding-bottom: 150px;
    }
    .caja2_tarjeta{
        display: flex;
        flex-direction: row; 
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-around;
    }    
    .caja2_article{
        width: 350px;
    }

    .caja_about{
        display: flex;
    }
    .caja_about_p{
        width: 50%;
        padding:70px; 
    }
    
    .caja_suscribe input{
        width: 600px;
    }
    .caja_suscribe button{
        width: 200px;
    }
    
    .caja_final{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 70px;
    }
    .caja_final_icons i{
        height: 16px;
    }
    .caja_final_txt{
        display: flex;
    }
    .caja_final_txt h3{
        padding-right: 60px;
    }

    .caja_personal{
        width: 400px;
        margin-left: 40px;
    }
    

} 



