body{
    margin: 0%;
}
.caja{
    background-image: url(../img/1.jpg);
    height: 600px;
    margin: 10px;
}
.caja_icon{
    display: flex;
    justify-content: flex-end; 
    padding: 20px;
}
.caja_desc{
    display: grid;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}

.caja2{
    border: 1px solid red;
    background-color: rgb(170, 169, 169);
    text-align: center;
}
.caja2_article{
    border: 1px solid red;
    margin: 10px;

}


